body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: #111;
}

header h1 {
    color: #00ff88;
    font-size: 45px;
}

nav {
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #161616;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
}

button {
    background: #00ff88;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 30px;
}
.title {
text-align:center;
margin-top:40px;
}


.products {
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}


.card img {
width:100%;
border-radius:10px;
}


.card {
transition:0.3s;
}


.card:hover {
transform:translateY(-10px);
}


.rating {
color:#00ff88;
font-size:20px;
}


.buy {

display:inline-block;
background:#00ff88;
color:black;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
font-weight:bold;

}


.buy:hover {

background:white;

}
.main-header{
    width:20%;
    background:#080808;
    padding:0;
    display:flex;
    justify-content:center;
}

.hero {

text-align:center;

padding:80px 20px;

background:#111;

}


.hero h2 {

font-size:45px;

color:#00ff88;

}


.why {

text-align:center;

padding:50px;

background:#111;

}


nav a:hover {

color:#00ff88;

}


.title {

font-size:35px;

color:#00ff88;

}
.logo {
    width: 70%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.logo-link {
    display: inline-block;
}

.main-header {
    text-align: center;
    padding: 30px 20px;
    background: #080808;
}
